<div class="container">

    <h2 class="mx-auto">Todos los productos</h2>
    {{#each products}}
    <div class="card row" style="width: 18rem;">
         <img src="/images/{{uid}}" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    {{/each}}

  </div>
</div>


<a href="/productos/create" class="mt-5 mx-auto btn btn-success"> agregar Producto</a>

