<div class="contenedor__publicacion">

<div class="crearPublicacion">
  <p class="crearTexto">  <i class='bx bx-camera-movie'></i> Crea una publicacion  <i class='bx bx-camera-movie'></i> </p>
 
</div>

<form class="form-group" action="/crearPublicacion/create" method="post" enctype="multipart/form-data">
  
  <input class="btn btn-primary"  type="file" name="avatar"  > 
  
  <button  class="btn btn-primary boton" type="submit">publicar</button>
</form>

</div>
